@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
} 

:root{
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-dark: hsl(252, 30%, 17%);
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6 1rem;
    --card-padding: 1rem;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: scroll;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}

/*Estilos generales*/

.container{
    width: 80%;
    margin: 0 auto;
}

.profile-photo{
    width: 5.5rem;
    height: 5.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
img{
    display: block;
    width: auto;
    max-height: 100%;
    object-fit: contain;
}

.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1rem;
}

.btn:hover{
    opacity: 0.8;
}

/*HEADER*/

header{
    width: 100%;
    background-color: var(--color-white);
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 30;
}

header .container{
    display: flex;
    justify-content: space-between;
}

header .log{
    color: black;
    margin-left: 0.5rem;
	font-weight: normal;
	font-size: 40px;
}

header .btn-regresar{
    margin: var(--btn-padding);
    background: #ff359b;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
}

/* MAIN */

main{
    position: relative;
    top: 5rem;
}

main .container{
    display: grid;
    grid-template-columns: 18vw auto 18vw;
    column-gap: 2rem;
    position: relative;
}

/* Foto de perfil */

.middle .form-img{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.5;
}

.foto-usuario{
    display: grid;
    place-items: center;
}

.middle .form-img form{
    display: grid;
    place-items: center;
}

.middle .form-img .profile-photo{
    margin: 1rem;
}

.middle .form-img form label{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.middle .form-img form input[type="file"]{
    overflow: hidden;
    opacity: 0;
}

.middle .form-img form label[for="foto"]{
    align-items: center;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: 2rem;
    font-size: 1rem;
    background-color: #ff359b;
    color: white;
    cursor: pointer;
}
.middle .form-img form label[for="foto"]:hover{
    opacity: 0.8;
}
.middle .form-img form input[type="submit"]{
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    background: #ff359b;
    color: white;
}
.middle .form-img form input[type="submit"]:hover{
    opacity: 0.8;
}


/* Datos personales */
.middle .form-datos{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.5;
    display: grid;
    place-items: center;
}

.middle .inputBox{
    margin: 1rem;
}

.middle .inputBox input{
    font-size: 0.9rem;
    font-weight: 500;
    background: var(--color-light);
}

.middle .inputBox label{
    font-size: 0.9rem;
    font-weight: 500;
}
.middle .inputBox input[type="submit"]{
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    background: #ff359b;
    color: white;
}
.middle .inputBox input[type="submit"]:hover{
    opacity: 0.8;
}

.middle .inputBox select{
    background: var(--color-light);
}

.guardar{
    display: grid;
    place-items: center;
}